HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!/src/main//build/
!/src/test//build/
**/log/

STS
.apt_generated
.factorypath
.springBeans
.sts4-cache
bin/
!/src/main//bin/
!/src/test//bin/